# ===== PERSISTANCE =====
# sqlite ou mysql
DB_TYPE=sqlite

# ===== JWT =====
JWT_SECRET=SECRET_KEY

# ===== MYSQL (utilisé si DB_TYPE=mysql) =====
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=root
MYSQL_PASSWORD=root

# ===== SMTP (notification-service) =====
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=kaban@theo-saly.com
SMTP_PASS=!Kaban2026
SMTP_FROM=kaban@theo-saly.com
SMTP_RECIPIENT=kaban@theo-saly.com