# ===== PERSISTANCE =====
# sqlite ou mysql
DB_TYPE=sqlite

# ===== JWT =====
JWT_SECRET=SECRET_KEY

# ===== MYSQL (utilisé si DB_TYPE=mysql) =====
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=root
MYSQL_PASSWORD=root

# ===== SMTP (notification-service) =====
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=user@example.com
SMTP_PASS=changeme
SMTP_FROM=noreply@example.com
SMTP_RECIPIENT=admin@example.com
