# ===== PERSISTANCE =====
# sqlite ou mysql
DB_TYPE=sqlite

# ===== JWT =====
JWT_SECRET=SECRET_KEY

# ===== MYSQL (utilisé si DB_TYPE=mysql) =====
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=root
MYSQL_PASSWORD=root

# ===== SMTP (notification-service) =====
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=votre-email@example.com
SMTP_PASS=votre-mot-de-passe
SMTP_FROM=votre-email@example.com
SMTP_RECIPIENT=destinataire@example.com